.add-book-page {
  width: 70%;
  display: flex;
  height: 50%;

  background-color: rgba(119, 119, 120, .7);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
