.homepage {
  background-color: #b3c6ff;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.homepage-welcome {
  background-color: #c2cdf0;
  border-style: groove;
  padding: 5px;
}
