.navbar {
  background-color: rgba(119, 119, 120, .7);
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 5px;
  width: 80%;
  margin-bottom: 60;
  z-index: 100;
}

.navbar-link {
  background-color: #2e2e2e;
  border: ridge white 1px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: #8c8c8c;
  color: #121212;
}
